body {
  margin: 0;
  margin-top: 0;
}

/*HEADER */
.header {
  height: 11vh;
  display: flex;
  border-bottom: 2px grey;
}
.header h1 {
  padding-left: 50px;
}
.header ul {
  margin-left: 700px;
}
.header ul li {
  float: left;
  padding: 20px;
  list-style: none;
}
.header ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
/*wrapper*/
.wrapper {
  height: 88vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  border-bottom: 5px orange;
}
.introtext {
  width: 50%;
}
.terrence {
  color: orange;
}
.hello {
  margin-top: 200px;
  color: black;
  padding-left: 50px;
  font-size: 72px;
}
.contact1 {
  margin-left: 50px;
  width: 264px;
  height: 55px;
  border-radius: 44px;
  font-size: 22px;
  color: white;
  background-color: orange;
  border-color: orange;
  border: 1px;
  font-family: "JetBrains Mono", monospace;
}
.icons {
  margin-top: 60px;
  padding-left: 50px;
}
.iconpic {
  height: 40px;
  width: 40px;
  margin-left: 30px;
}
.mypic {
  height: 330px;
  width: 330px;
  background-image: url(me.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 165px;
  margin-top: 200px;
  margin-left: 145px;
  box-shadow: 0 0 30px orange;
}

/*ABOURT ME*/
.aboutme h1 {
  text-align: center;
  align-items: center;
}

/*PREVIOUS PROJECTS*/
.previousprojects h1 {
  text-align: center;
}
.card {
  float: left;
  position: center;
  align-items: center;
  height: 550px;
  width: 400px;
  background-color: red;
  margin-left: 200px;
}
